#menu{
  margin-left: 1%;
}
#body{
  margin-left: 25%;
  width:68%;
  margin-top: -8%;
}
#menuTi{
  color: #030F3B;
}
#firstHW{
  border: 1px solid black;
}
#cmd{
  margin-top: 1%;
  background-color:#B4B6BD;
  margin-bottom: 1%;
  font-style: italic;
}
th{
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
h1{
  margin-left: 40%;
  margin-top: -90px;
  color: #030F3B;
}
h2{
  color:#0A2797;
}
h3{
  color:#1C40CA ;
}
h4{
  color: #3F65F9;
}
#lora {
    margin-top: 2%;
    width: 200px;
    height: 150px;
}
